*.egg-info
*.pot
*.py[co]
__pycache__
MANIFEST
dist/
docs/
build/
docs/_build/
docs1/_build/
*.xml
/admin/
/jam_docs/
/css/
/js/
/img/
/web/
/minify/
/reports/
/static/
/*.sqlite
/*.py
!/setup.py
/*.html
dist/
tools/
locks/
doc/_build/
os
jam*.zip

