*.egg-info
*.pot
*.py[co]
__pycache__
MANIFEST
dist/
build/
docs/_build/
*.xml
*.lock
/admin/
/jam_docs/
/css/
/js/
/img/
/web/
/minify/
/reports/
/static/
/*.sqlite
/*.py
!/setup.py
/*.html
dist/
tools/
locks/
tests/
doc/_build/
os
jam*.zip
wsgi.conf
xchanges.txt
