include README
include AUTHORS
include INSTALL
include LICENSE
include MANIFEST.in
recursive-include builder *
recursive-include demo *
recursive-include docs *
recursive-include docs1 *
recursive-include tests *
