
html.wait, html.wait * {
    cursor: wait !important;
}

div.dropdown input {
    width: 100%;
    color: #555555;
}

div.dropdown input,
div.dropdown input:hover,
div.dropdown input:active,
div.dropdown input:focus {
    border-width: 0;
    outline: 0;
}

.nav {
  margin-bottom: 8px;
}

.navbar {
  margin-bottom: 10px;
}

input.dropdown-toggle {
    border-width: 0;
    padding: 0;
}

.typeahead-li {
    width: 100%;
}


form {
    margin-bottom: 10px;
    padding: 9px;
}

.control-label.required:after {
    content: " *";
    color: red;
}

.form-horizontal .control-group {
    margin-bottom: 10px;
}

.form-horizontal .control-group:first-child {
    margin-top: 10px;
}

.btn-bar {
/*
    margin-top: 14px;
*/
}

.modal {
    width: 680px;
}


.form-body .well,
.modal-body .well {
    min-height: 20px;
    width: auto;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 6px;
/*
    padding-bottom: 0;
*/
}

.modal.fade {
    -webkit-transition: opacity 0.1s linear;
       -moz-transition: opacity 0.1s linear;
         -o-transition: opacity 0.1s linear;
            transition: opacity 0.1s linear;
}

.modal-backdrop,
.modal-backdrop.fade.in{
    opacity: 0.2;
    filter: alpha(opacity=20);
    background: #fff;
}

#pager form {
    padding: 4px;
}

.pager-input {
    text-align: center;
}

.typeahead,
.popover {
    z-index: 3000;
}

.badge {
    padding-left: 5px;
    padding-right: 5px;
}

.help-badge {
    margin-left: 5px;
    cursor: pointer;
}

.btns-help-badge {
    margin-left: 18px;
}

.expanded-btn {
    min-width: 120px;
}

input.input-integer {
  width: 28%;
}

input.input-float {
  width: 35%;
  min-width: 110px;
}

input.input-currency {
  width: 35%;
  min-width: 110px;
}

.datetime-input-container {
    width: 54%;
}

.date-input-container {
    width: 46%;
}

.lookupfield-input-container {
    width: 80%;
}

.lookupvalues-input-container {
    width: 66%;
}

input.input-lookupitem,
input.input-lookupvalues,
input.input-date,
input.input-datetime {
    width: calc(100% - 2 * 40px);
    width: -moz-calc(100% - 2 * 40px);
    width: -webkit-calc(100% - 2 * 40px);
    width: -o-calc(100% - 2 * 40px);
}

input.input-date {
    min-width: 70px;
}

input.input-datetime {
    min-width: 100px;
}

input.input-text {
  width: 80%;
}

.input-blob {
  width: 80%;
}

@media (max-width: 767px) {
    .datetime-input-container {
        width: 54%;
    }

    .date-input-container {
        width: 46%;
    }

    .lookupfield-input-container {
        width: 80%;
    }

    .lookupvalues-input-container {
        width: 66%;
    }

    input.input-lookupitem,
    input.input-lookupvalues,
    input.input-date,
    input.input-datetime {
        width: calc(100% - 2 * 40px);
        width: -moz-calc(100% - 2 * 40px);
        width: -webkit-calc(100% - 2 * 40px);
        width: -o-calc(100% - 2 * 40px);
    }
}

.template {
    display: none;
}

.inline {
    display: inline;
}

.close {
    font-size: 13px;
}

.inner-table {
    outline: none;
}

.inner-table td:first-child {
    border-left: 0;
}

.dbtable.freezed thead,
.dbtable.freezed tfoot {
    background-color: white;
}

.dbtable td,
.dbtable th {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.tooltip-inner {
  max-width: 400px;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.top-margin {
  margin-top: 6px;
}

.error-modal-border {
    border: 1px solid red;
}

.selection-box {
    position:    absolute;
    background: transparent;
    border:     1px dotted #999;
}

.dbtable thead th {
    vertical-align: middle;
}

.dbtable td.multi-select {
    width: 4%;
}

.dbtable th .multi-select .sel-count {
    margin-top: 4px;
    margin-bottom: 0;
    font-size: 10px;
    font-style: italic;
    color: #3a87ad;
}

.dbtable th .multi-select .sel-count.selected-shown {
    color: #b94a48;
}

.dbtree {
    padding: 2px;
    outline: none;
}

.dbtree li div {
    white-space: nowrap;
}

.dbtree li div {
    cursor: default;
    margin: 1px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}


.dbtree li.selected > div span.tree-text {
    background-color: #e5e5e5;
}

.dbtree li.selected-focused > div span.tree-text {
    background-color: #d9edf7;
}

.dbtree li div span.tree-text {
    display: inline-block;
    cursor: default;
    padding: 3px 8px;
}

.dbtree ul:first-child {
    margin-left: 0px;
}

.mselect-btn {
    padding: 3px 4px;
}

.bullet {
    margin-left: 12px;
    margin-top: 0px;
    padding-top: 0px;
}

.empty-bullet {
    margin-left: 26px;
}

.accordion-toggle.history-toggle {
    font-size: 13px;
    background-color: #eaf5fb;
    outline: 0;
}

.accordion-heading.history-heading a:focus,
.accordion-heading.history-heading a:hover {
    text-decoration: none;
    outline: 0;
}

.accordion-group.history-group {
    border-color: #cceeff;
}

.form-body {
  position: relative;
  overflow-y: auto;
}

.form-frame .form-body {
  padding: 14px 15px
}

.form-header {
  padding: 6px 0 6px;
  margin-bottom: 0;
  *zoom: 1;
}

.form-header:before,
.form-header:after {
  display: table;
  line-height: 0;
  content: "";
}

.form-header:after {
  clear: both;
}

.form-header .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.form-header .btn-group .btn + .btn {
  margin-left: -1px;
}

.form-header .btn-block + .btn-block {
  margin-left: 0;
}

.form-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  *zoom: 1;
}

.form-footer:before,
.form-footer:after {
  display: table;
  line-height: 0;
  content: "";
}

.form-footer:after {
  clear: both;
}

.form-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.form-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.form-footer .btn-block + .btn-block {
  margin-left: 0;
}

.form-header .form-inline,
.form-footer .form-inline {
    margin-bottom: 0;
    padding: 0 9px;
    *zoom: 1;
}

.logging-info {
    margin-top: 20px;
    text-align: right;
}

.close-tab-btn:hover,
#refresh-btn:hover,
#history-btn:hover  {
    background-color: #d9edf7;
}

.form-frame {
  border: 1px solid #ddd;
  border: 1px solid rgba(0, 0, 0, 0.1);
  *border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.modal-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4px 15px;
}

.modal .modal-header {
    padding: 14px 15px;
}

.header-close-btn,
.header-print-btn {
    align-self: flex-start
}

.header-history-btn,
.header-refresh-btn,
.header-selected {
    margin-left: 10px;
}

.header-filter {
    text-align: right;
    flex-grow: 5;
}

.header-filter {
    flex-grow: 5;
}

.header-search {
    display: none;
    flex-grow: 5;
}

#search-form {
    margin-bottom: 0;
    padding: 0;
}

.form-title {
    margin: 10px 0;
}

.filter-text {
    margin: 0;
}

.header-selected {
    font-weight: bold;
}
