
html.wait, html.wait * {
    cursor: wait !important;
}

div.dropdown input {
    width: 100%;
    color: #555555;
}

div.dropdown input,
div.dropdown input:hover,
div.dropdown input:active,
div.dropdown input:focus {
    border-width: 0;
    outline: 0;
}

}

input.dropdown-toggle {
    border-width: 0;
    padding: 0;
}

.typeahead-li {
    width: 100%;
}

form {
    margin-bottom: 6px;
}

.form-horizontal .control-group {
    margin-bottom: 6px;
}

.pager-input {
    text-align: center;
}

.typeahead,
.popover {
    z-index: 3000;
}

.badge {
    padding-left: 5px;
    padding-right: 5px;
}

.help-badge {
    margin-left: 5px;
    cursor: pointer;
    color: #0088cc;
    background-color: #ffffff;
}

.help-badge:hover {
    color: #ffffff;
    background-color: #3a87ad;
}

/*
.input-button {
    padding: 1px 4px;
    line-height: 20px;
}
*/

.expanded-btn {
    min-width: 100px;
}

.input-integer {
  width: 28%;
}

.input-float {
  width: 35%;
}

.input-currency {
  width: 35%;
}

.input-date {
  width: 27%;
}

.input-datetime {
  width: 36%;
}

.input-with-buttons {
  width: 100%;
}

.input-lookupitem {
  width: 71%;
}

.input-lookupvalues {
  width: 32%;
}

.input-text {
  width: 80%;
}

.input-blob {
  width: 100%;
}
@media (max-width: 767px) {
  .input-prepend input.input-lookupitem,
  .input-append input.input-lookupitem,
  .input-prepend input.input-lookupitem[class*="span"],
  .input-append input.input-lookupitem[class*="span"] {
    width: 75%;
  }
}

.template {
    display: none;
}

.inline {
    display: inline;
}

.close {
    font-size: 13px;
}

.modal {
    width: 680px;
}

.modal .well {
    width: inherit;
    margin-bottom: 6px;
    padding: 6px;
    padding-bottom: 0;
}

.modal.fade {
    -webkit-transition: opacity 0.1s linear;
       -moz-transition: opacity 0.1s linear;
         -o-transition: opacity 0.1s linear;
            transition: opacity 0.1s linear;
}

.modal-backdrop,
.modal-backdrop.fade.in{
    opacity: 0.2;
    filter: alpha(opacity=20);
    background: #fff;
}

.inner-table {
    outline: none;
}

.inner-table td:first-child {
    border-left: 0;
}

.table td,
.table th {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.tooltip-inner {
  max-width: 400px;
  padding: 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #b94a48;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.top-margin {
  margin-top: 6px;
}

.error-modal-border {
    border: 1px solid red;
}

.selection-box {
    position:    absolute;
    background: transparent;
    border:     1px dotted #999;
}

.datepicker {
    font-size: 12px;
}

.dbtable thead th {
    vertical-align: middle;
}

.dbtable td.multi-select {
    width: 4%;
}

.dbtable th .multi-select .sel-count {
    margin-top: 4px;
    margin-bottom: 0;
    font-size: 10px;
    font-style: italic;
    color: #3a87ad;
}

.dbtable th .multi-select .sel-count.selected-shown {
    color: #b94a48;
}

.dbtree {
    padding: 2px;
    outline: none;
}

.dbtree li div {
    white-space: nowrap;
}

.dbtree li div {
    cursor: default;
    margin: 1px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}


.dbtree li.selected > div span.tree-text {
    background-color: #e5e5e5;
}

.dbtree li.selected-focused > div span.tree-text {
    background-color: #d9edf7;
}

.dbtree li div span.tree-text {
    display: inline-block;
    cursor: default;
    padding: 2px 8px;
}

.dbtree ul:first-child {
    margin-left: 0px;
}

.mselect-btn {
    padding: 3px 4px;
}

.bullet {
    margin-left: 12px;
    margin-top: 0px;
    padding-top: 0px;
}

.empty-bullet {
    margin-left: 26px;
}

.accordion-toggle.history-toggle {
    font-size: 13px;
    background-color: #eaf5fb;
    outline: 0;
}

.accordion-heading.history-heading a:focus,
.accordion-heading.history-heading a:hover {
    text-decoration: none;
    outline: 0;
}

.accordion-group.history-group {
    border-color: #cceeff;
}
